@tailwind base;
@tailwind components;
@tailwind utilities;

.btn_gradient {
    background: linear-gradient(90deg, #12B2E7 0%, #3F9DE4 100%);
    transition: all .3s ease;
}

.btn_gradient:hover {
    -webkit-box-shadow: -9px 2px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -9px 2px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -9px 2px 16px 0px rgba(0, 0, 0, 0.75);
}

.btn_gradient:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transform: scale(0.95);
}

.btn_gradient-2 {
    background: linear-gradient(0.8deg, #12B2E7 5.21%, #3F9DE4 81.66%);
}

.text_gradient {
    font-size: 72px;
    background: linear-gradient(90deg, #12B2E7 0%, #3F9DE4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 
.text-gradient {
    background: linear-gradient(90deg, #12B2E7 0%, #3F9DE4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s ease;
}

.hover\:text-gradient:hover .text {
    background: linear-gradient(90deg, #12B2E7 0%, #3F9DE4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover\:text-gradient:hover .svg path {
    stroke: url(#gradient);
} */

.social-icon {
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

.social-icon:active {
    transform: scale(0.9);
}

.menu_shadow {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.hover_effect:hover {
    color: #33A2E4 !important;
}